BlackScreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index: 12;
    transition: all 2s ease-in;

    &:intro {
        opacity: 0;
    }

    &:outro {
        opacity: 0;
    }
}
