@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace CryptidHunt

<root>
    <div class="container"><div class="tweet"></div></div>
    <div class="containerWide">
        <div class="names">
            <label class="gameTitle">CREDITS</label>
            <label class="subTitle">Game by Small Fish</label>
            <label class="nameCredit"> ubre: Lead</label>
            <label class="nameCredit"> Wheatley: Level Design (Map)</label>
            <label class="nameCredit"> rndtrash: Flickr API + Fixes</label>
            <label class="nameCredit"> ceitine: Gameplay Programmer</label>
            <label class="nameCredit"> Luke: Modeller (Items)</label>
            <label class="nameCredit"> Grodbert: Modeller (Creatures)</label>
        </div>
        <ModelPreviewer></ModelPreviewer>
        <button class="mainMenuButton" onclick=@(() => new WebPanel() { Url = "https://sbox.game/fish", Parent = this.Panel })>[More games by Small Fish]</button>
        <button class="mainMenuButton" onclick=@ToMainMenu>[Main Menu]</button>
    </div>
    <div class="container"><div class="forest"></div></div>
</root>

@code
{
    [Property] public MainMenu MainMenu { get; set; }
    [Property] public SceneFile MainMenuFile { get; set; }

    public void ToMainMenu()
    {
        if ( MainMenuFile != null )
        {
            Scene.LoadFromFile(MainMenuFile.ResourcePath);
            Enabled = false;
        }
        else
        {
            MainMenu.Enabled = true;
            Enabled = false;
        }
    }
}
