DarknessSlider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url("ui/darkness-background.png");
    background-size: cover;
    cursor: default;
    pointer-events: all;

    .cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.9;
        cursor: default;
    }

    .instructions {
        width: 100%;
        height: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 20px;
        cursor: default;
    }

    .instructionsText {
        position: absolute;
        top: 0;
        width: 100%;
        height: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 20px;
        cursor: default;

        .label {
            align-items: center;
            justify-content: center;
            align-content: stretch;
            text-align: center;
            font-family: Neucha;
            font-size: 5vmin;
            text-shadow: 0px 0px 4px rgba(black, 1);
        }
    }

    .tests {
        height: 34%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: default;

        .imageTest {
            height: 300px;
            width: 300px;
        }
    }

    .sliderContainer {
        height: 34%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .okay {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin: 50px;
            pointer-events: all;
            cursor: pointer;

            .label {
                align-items: center;
                justify-content: center;
                align-content: stretch;
                text-align: center;
                font-family: Neucha;
                font-size: 8vmin;
                text-shadow: 0px 0px 4px rgba(black, 1);
            }
        }
    }
}
