GameUI {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .ItemPrompt {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        opacity: 1;

        .itemContainer {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px;
            margin: -20px;
            background-image: url(ui/brushes2.png);
            background-size: 100%;
            background-image-tint: rgba(400, 200, 200, 0.8);

            .image {
                left: 10px;
                height: 48px;
                width: 48px;
                aspect-ratio: 1;
                background-image: url(ui/hand.png);
                background-size: 100%;
                background-repeat: no-repeat;
                margin-right: 10px;
            }

            .promptContainer {
                height: 100%;
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: flex-start;
                justify-content: center;

                .prompt {
                    font-family: 'Gochi Hand';
                    font-size: 40px;
                    color: rgb(120, 0, 0);
                    text-stroke: 3px rgb(50, 0, 0);
                    text-shadow: 0px 0px 4px rgba(red, 0.2);
                    left: 50px;
                    padding-right: 30px;
                }
            }
        }
    }
}
