MainMenu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: all;
	cursor: default;

	.Logo {
		height: 17%;
		margin-bottom: 6%;
		aspect-ratio: 4.74;
		background-image: url(ui/logo.png);
		background-size: cover;
		background-repeat: no-repeat;
		margin: 100px;
	}

	label.text {
		text-align: center;
		font-family: Neucha;
		font-size: 60px;
		color: rgb(240, 240, 240);
		text-stroke: 5px rgb(30, 30, 30);
		text-shadow: 0px 0px 8px rgba(black, 1);
	}

	.Button {
		height: 10vh;
		aspect-ratio: 4;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: Neucha;
		font-size: 60px;
		color: rgb(240, 240, 240);
		text-stroke: 5px rgb(30, 30, 30);
		cursor: pointer;
		text-shadow: 0px 0px 8px rgba(black, 1);

		&.red {
			color: rgb(240, 150, 150) !important;
			text-stroke: 5px rgb(30, 20, 20) !important;
			text-shadow: 0px 0px 8px rgba(red, 0.2);
		}
	}

	div.reset {
		position: absolute;
		bottom: 0;
		left: 0;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;

		.row {
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}
}
