Slider {
    height: 50px;
    width: 50%;
    background-color: rgba( 255, 255, 255, 0.02);
    border-radius: 50px;
    pointer-events: all;
    cursor: pointer;

    .sliderFull {
        background-color: white;
        height: 100%;
        width: 50%;
        border-radius: 50px;
    }
}
