.editorconfig
code/Properties/*
code/spookyjam2022.csproj
code/obj/*
code/.vs/*
shaders/vfx/*

*.vmdl_c
*.vtex_c
*.vmat_c
*.bin
tools_asset_info.bin
*.bin
*.bin
*.vtex_c
tools_asset_info.bin
*_bakeresourcecache
*.vpcf_c
*.los
*.assbin
*.sln
