@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace CryptidHunt

<root>
    <div class="blackScreen" style="opacity: @(Started ? 0 : 0.9)"></div>
    <div class="textContainer" style="opacity: @(Started ? 0 : 1)">
<div class="text">WELCOME TO THE NEXTBOT
PERSONALISED!
WHAT OR WHO DO YOU FEAR THE MOST?...</div>
<div class="smallText">(PRESS MOUSE1 TO FOCUS)</div>
    </div>
    <TextEntry	@ref=Input 
    onsubmit=@Submit 
    onblur=@Close
    Placeholder=@($"ENTER TO SEND") 
    MaxLength=@(20)
    style="opacity: @(Started ? 0 : 1)"/>
        <div class="monkeyBar" style="opacity: @(Started ? 1 : 0)">MADE BY MONKEY BAR</div>
</root>

@code
{
    [Property]
    public GameObject TargetCamera { get; set; }
    [Property]
    public Computer Computer { get; set; }
    public TextEntry Input { get; set; }
    public bool Started = false;
    public int FrameRate = 30;

    public static SceneCamera Camera { get; private set; }
    private static Texture _renderTarget;
    private RealTimeUntil _nextRender;

    protected override void OnStart()
    {
        base.OnStart();

        Camera?.Dispose();
        Camera = new()
            {
                World = Scene?.SceneWorld,
                Size = 512,
                ZFar = 1000f,
                BackgroundColor = new Color32(43, 43, 37).ToColor()
            };

        _renderTarget = Texture.CreateRenderTarget()
            .WithSize(new Vector2(512f, 512f * 0.6f))
            .WithScreenFormat()
            .Create();

        Open();
    }


    protected override void OnUpdate()
    {
        base.OnUpdate();

        if (Camera == null || !_nextRender)
            return;

        FrameRate = Computer.Playing ? 15 : 5;

        Camera.Position = TargetCamera.WorldPosition;
        Camera.Rotation = TargetCamera.WorldRotation;

        Graphics.RenderToTexture(Camera, _renderTarget);
        _nextRender = 1f / FrameRate;

        Panel.Style.BackgroundImage = _renderTarget;

        if ( !Started )
            Input.Focus();
    }

    private void Submit()
    {
        var message = Input.Text.Trim();
        Input.Text = string.Empty;

        Close();

        if (string.IsNullOrWhiteSpace(message))
            return;

        Started = true;
        Computer.Started = true;
        Computer.StopGame();
        SetFear(message);

        //Player.Local.LastMessage = message;
        //Player.Local.Talk(null);
    }

    async void SetFear( string fear )
    {
        Computer.Fear = await Flickr.Get(fear);
    }

    public void Open()
    {
        Input.Focus();
    }

    public void Close()
    {
        Input.Blur();
        Input.Text = string.Empty;
        Input.Label.SetCaretPosition(0);
    }

    protected override int BuildHash() => System.HashCode.Combine(Time.Now);
}
