NotePanel {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 1;
    transform: translateY( 0% );

    .page {
        height: 77%;
        aspect-ratio: 0.73;
        background-image: url(ui/paper-note.png);
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;

        .handPrint {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(ui/bloody-handprint.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .textContainer {
            top: 11.5%;
            width: 80%;
            height: 71%;
            display: flex;
            flex-direction: column;
            text-align: center;

            .text {
                font-family: GochiHand-Regular;
                font-size: 21.8%;
            }
        }
    }

    &:intro {
        opacity: 0;
        transform: translateY( 30% );
    }

    &:outro {
        opacity: 0;
        transform: translateY( 30% );
    }
}

ItemPrompt {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    transition: all 1s ease-in;
    opacity: 1;

    .container {
        position: absolute;
        top: 0;
        left: 0;
        height: 6%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .image {
            height: 100%;
            aspect-ratio: 1;
            background-image: url(ui/hand.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .promptContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;
            align-items: flex-start;
            justify-content: center;

            .prompt {
                font-family: GochiHand-Regular;
                font-size: 40px;
                color: rgb(120, 0, 0);
                text-stroke: 3px rgb(50, 0, 0);
            }
        }
    }

    &.hidden {
        display: none;
    }
}

BlackScreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index: 12;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    transition: all 2s ease-in;

    &:intro {
        opacity: 0;
    }

    &:outro {
        opacity: 0;
    }
}

ZoneHint {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 2s ease-in;

    .hint {
        font-family: GochiHand-Regular;
        font-size: 70px;
        color: white;
        text-stroke: 3px rgb(50, 0, 0, 0.6);
        text-shadow: 0px 0px 12px rgb(black, 0.8);
        background-image: url(ui/brushes2.png);
        background-image-tint: rgba(500, 500, 500, 0.4);
        padding: 30px;
        margin: -30px;
        background-size: 100%;
    }

    &:intro {
        opacity: 0;
    }

    &:outro {
        opacity: 0;
    }
}


MainMenu {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    cursor: default;

    .Logo {
        height: 30%;
        margin-bottom: 6%;
        aspect-ratio: 2;
        background-image: url(ui/hand.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: red;
    }

    Button {
        height: 10%;
        aspect-ratio: 4;
        margin: 0.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: Neucha-Regular;
        font-size: 60px;
        color: rgb(240, 240, 240);
        text-stroke: 5px rgb(30, 30, 30);
        cursor: pointer;
    }
}

Inventory {
    position: absolute;
    background-color: rgba(black, 0.98);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: all;

    .container {
        position: absolute;
        left: 20px;
        top: 20px;
        font-family: ComicNeue-Bold;
        flex-direction: column;

        .title {
            font-size: 48px;
            color: rgb(235, 235, 235);
            font-weight: 500;
            text-shadow: 0px 0px 8px white;
            background-image: url(ui/brushes2.png);
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            padding: 20px 30px 20px 20px;
            margin: -20px -30px -20px -15px;
            font-family: Neucha-Regular;
        }

        .weightBarContainer {
            background-image: url(ui/brushes2.png);
            background-position: center;
            background-size: 100%;
            padding: 30px 45px 30px 20px;
            margin: -25px -45px -30px -20px;

            .weightBar {
                width: 300px;
                height: 25px;
                background-image: url(ui/bar.png);
                background-size: 100%;
                background-image-tint: rgb(50, 50, 50);

                .inner {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-size: 300px 25px;
                    background-position-x: left;
                    background-position-y: top;
                    background-image: url(ui/bar.png);
                    transition: width 0.2s ease-in-out;
                }
            }
        }

        .weightContainer {
            flex-direction: row;

            .weight {
                color: rgb(120, 120, 120);
                font-size: 20px;
                text-shadow: 0px 0px 4px rgb(30, 30, 30);
                padding: 5px;
                font-weight: 600;
                background-image: url(ui/brushes6.png);
                background-image-tint: rgba(350, 350, 350, 1);
                background-position: center;
                background-size: 100%;
            }
        }
    }

    .itemContainer {
        position: absolute;
        top: 175px;
        width: 1100px;
        height: 900px;
        background-image: url(ui/brushes4.png);
        background-image-tint: rgba(350, 350, 350, 1);
        background-size: 99%;
        background-repeat: no-repeat;
        padding: 60px;
        margin: -60px;
        left: 0px;

        .slotContainer {
            overflow: scroll;
            flex-direction: row;
            flex-wrap: wrap;

            .slot {
                &.hasItem {
                    background-image: url(ui/slot_background_outline.png);
                }

                &.selected {
                    background-image-tint: rgba(white, 0.8);
                }

                background-image: url(ui/slot_background.png);
                background-image-tint: rgba(gray, 0.75);
                background-size: cover;
                width: 200px;
                aspect-ratio: 1;
                left: 80px;

                .weight {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    flex-direction: row;
                    font-family: ComicNeue-Bold;
                    color: rgba(150, 150, 150, 1);
                    background-image: url(ui/brushes2.png);
                    padding: 10px;
                    background-image-tint: rgba(300, 300, 300, 0.5);
                    background-size: 100%;

                    .icon {
                        background-image: url(ui/weight.png);
                        background-size: cover;
                        width: 10px;
                        height: 25px;
                        background-image-tint: rgba(150, 150, 150, 1);
                        padding-right: 15px;
                    }

                    .text {
                        top: 3px;
                        font-size: 18px;
                        padding-left: 5px;
                        text-shadow: 0px 0px 4px rgb(30, 30, 30);
                    }
                }

                .iconContainer {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    margin: 10px;

                    .itemIcon {
                        position: absolute;
                        background-size: 100%;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}