NotePanel {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 1;
    transform: translateY( 0% );

    .page {
        height: 77%;
        aspect-ratio: 0.73;
        background-image: url(ui/paper-note.png);
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;

        .handPrint {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(ui/bloody-handprint.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .textContainer {
            top: 11.5%;
            width: 80%;
            height: 71%;
            display: flex;
            flex-direction: column;
            text-align: center;

            .text {
                font-family: GochiHand-Regular;
                font-size: 22.4%;
            }
        }
    }

    &:intro {
        opacity: 0;
        transform: translateY( 30% );
    }

    &:outro {
        opacity: 0;
        transform: translateY( 30% );
    }
}

ItemPrompt {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    transition: all 1s ease-in;
    opacity: 1;

    .container {
        position: absolute;
        top: 0;
        left: 0;
        height: 6%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .image {
            height: 100%;
            aspect-ratio: 1;
            background-image: url(ui/hand.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .promptContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;
            align-items: flex-start;
            justify-content: center;

            .prompt {
                font-family: GochiHand-Regular;
                font-size: 30%;
                color: rgb(120, 0, 0);
                text-stroke: 3px rgb(50, 0, 0);
            }
        }
    }

    &.hidden {
        display: none;
    }
}
