ItemView {
    width: 800px;
    height: 900px;
    transition: transform 0.5s ease-in-out;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 60px;

    &:intro {
        transform: scale(0);
    }

    &:outro {
        transition: transform 0.1s ease-in, opacity 0.1s ease-in;
        transform: scale(1.5);
        opacity: 0;
    }

    .titleContainer {
        flex-direction: column;
        align-content: center;

        .titleText {
            align-self: center;

            .title {
                font-family: Neucha;
                padding: 20px;
                margin: -20px;
                background-image: url(ui/brushes2.png);
                background-position: center;
                background-size: 100%;
                color: rgba(240, 240, 240, 1);
                text-shadow: 0px 0px 6px rgba(white, 0.8);
                font-size: 48px;
            }
        }

        .descriptionText {
            align-self: center;

            .description {
                font-family: Neucha;
                padding: 20px;
                margin: -20px;
                background-image: url(ui/brushes6.png);
                background-position: center;
                background-size: 100%;
                color: rgba(140, 140, 140, 1);
                font-size: 32px;
                text-shadow: 0px 0px 4px rgba(white, 0.6);
            }
        }
    }

    .view {
        width: 70%;
        height: 70%;
        pointer-events: all;
        background-color: red;
    }

    .buttonContainer {
        padding-top: 50px;
        flex-direction: row;
        justify-content: center;
        z-index: 2;

        .button {
            background-image: url(ui/button.png);
            background-size: cover;
            width: 205px;
            height: 70px;
            flex-grow: 0;
            justify-content: center;
            align-items: center;
            font-family: Neucha;
            font-size: 32px;
            color: gray;
            background-image-tint: rgba(gray, 1);
            text-shadow: 0px 0px 4px rgb(30, 30, 30, 1);
            transition: transform 0.2s ease-in-out;
            transform: scale(1);
            cursor: pointer;

            &:hover {
                background-image-tint: rgba(white, 1);
                color: white;
                text-shadow: 0px 0px 4px rgb(gray, 1);
                transform: scale(1.2);
            }

            .text {
                align-self: center;
            }
        }
    }
}
