@using Sandbox;
@using Sandbox.UI;
@namespace CryptidHunt

<root>
    <div class="titleContainer">
        <div class="titleText">
            <div class="title">@Item?.Title</div>
        </div>
        <div class="descriptionText">
            <div class="description">@Item?.Description</div>
        </div>
    </div>
    @if ( Item.IsValid() )
    {
        <img class="view" src="@Item?.Icon">

        @if ( Item.Useable )
        {
            <div class="buttonContainer">
                <div class="button" @onclick=@(() => Item.Use( Player.Instance ))>
                    <div class="test">@Item?.UseDescription</div>
                </div>
            </div>
        }
    }
</root>

@code
{
    public Item Item => Inventory.Instance.SelectedItem;
    public ScenePanel SceneView { get; set; }

    public override void Tick()
    {
        if (SceneView == null)
        {
            //SceneView = new ScenePanel("scenes/world.scene");
            //AddChild(SceneView);
            //SceneView.SetClass("view", true);
        }
    }

    protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
