@using Sandbox;
@using Sandbox.UI;
@namespace CryptidHunt

<root>
    <div class="titleContainer">
        <div class="titleText">
            <div class="title">@Item?.Title</div>
        </div>
        <div class="descriptionText">
            <div class="description">@Item?.Description</div>
        </div>
    </div>
    <img class="view" src="@Item?.Icon">

    </img>
    <div class="buttonContainer">
        <div class="button">
            <div class="test">Equip</div>
        </div>
    </div>
</root>

@code
{
    public Item Item => Inventory.Instance.SelectedItem;
    public ScenePanel SceneView { get; set; }

    public override void Tick()
    {
        if (SceneView == null)
        {
            //SceneView = new ScenePanel("scenes/world.scene");
            //AddChild(SceneView);
            //SceneView.SetClass("view", true);
        }
    }

    protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
