@using Sandbox;
@using Sandbox.UI;
@namespace CryptidHunt

<root>
    <div class="titleContainer">
        <div class="titleText">
            <div class="title">FUCK YOU</div>
        </div>
        <div class="descriptionText">
            <div class="description">FUCK YOU</div>
        </div>
    </div>
    <div class="view">

    </div>
    <div class="buttonContainer">
        <div class="button">
            <div class="test">Equip</div>
        </div>
    </div>
</root>

@code
{
    public Item Item { get; set; }

    public override void Tick()
    {
    }

    protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
