Slot {
    &.hasItem {
        background-image: url(ui/slot_background_outline.png);
        cursor: pointer;
    }

    &.selected {
        background-image-tint: rgba(white, 0.8);
    }

    background-image: url(ui/slot_background.png);
    background-image-tint: rgba(gray, 0.75);
    background-size: cover;
    width: 190px;
    height: 190px;

    .weight {
        position: relative;
        left: 90px;
        top: 130px;
        height: 45px;
        flex-direction: row;
        font-family: 'Comic Neue';
        font-weight: bold;
        color: rgba(120, 120, 120, 1);
        background-image: url(ui/brushes2.png);
        padding: 10px;
        margin: 7px;
        background-image-tint: rgba(300, 300, 300, 0.5);
        background-size: 100%;
        z-index: 9;

        .icon {
            background-image: url(ui/weight.png);
            background-size: cover;
            width: 10px;
            height: 25px;
            background-image-tint: rgba(150, 150, 150, 1);
            padding-right: 15px;
            z-index: 9;
        }

        .text {
            top: 3px;
            font-size: 18px;
            padding-left: 5px;
            text-shadow: 0px 0px 4px rgb(30, 30, 30);
            z-index: 9;
        }
    }

    .amount {
        position: relative;
        left: -90px;
        top: 10px;
        height: 40px;
        flex-direction: row;
        font-family: 'Comic Neue';
        font-weight: bold;
        color: rgba(120, 120, 120, 1);
        background-image: url(ui/brushes2.png);
        padding: 10px;
        background-image-tint: rgba(300, 300, 300, 0.5);
        background-size: 100%;
        z-index: 2;

        .text {
            font-size: 18px;
            text-shadow: 0px 0px 4px rgb(30, 30, 30);
        }
    }

    .iconContainer {
        position: absolute;
        width: 180px;
        height: 180px;
        padding: 10px;
        margin: 10px;
        z-index: 1;

        .itemIcon {
            background-size: 100%;
            width: 90%;
            height: 90%;
        }
    }
}
