@using Sandbox;
@using Sandbox.UI;
@namespace CryptidHunt

<root>
    @if (Item.IsValid())
    {
        <div class="weight">
            <div class="icon"></div>
            <div class="text">2.2 KG</div>
        </div>
    }
</root>

@code
{
    public Item Item { get; set; }

    protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
